nav.navbar.navbar-light.bg-light {
    background-color: rgb(226 226 226) !important;
}

a.navbar-brand > img {
    width: 60px;
    height: 60px;
}

a.nav-link {
    font-weight: bold;
    font-size: 20px;
    color: #0a3255 !important;
}