<div class="container mb-5 mt-5 complete-height">

    <div class="row">
        <div class="col-sm-6">
            <img class="card-img-top" src="../../../assets/francisco.jpg" alt="Cargando...">
        </div>
        <div class="col-sm-6">
            <div class="row mb-4 mt-5">
                <div class="col ">
                    <h5 class="card-title">José Francisco Medina Aguayo</h5>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <p style="font-weight: 500;">Email:  <a href="mailto:franciscomedinaag@gmail.com" target="_blank">franciscomedinaag@gmail.com</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <p style="font-weight: 500;">Tel:   <a href="tel:3315711601" target="_blank">3315711601</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <p style="font-weight: 500;">Linkedin:  <a href="https://www.linkedin.com/in/franciscomedinaag/" target="_blank">https://www.linkedin.com/in/franciscomedinaag/</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <p style="font-weight: 500;">CV:  <a 
                        href="javascript:void(0)" 
                        style="cursor:pointer"
                        (click)="downloadPdf()">
                        Descargar
                      </a></p>
                </div>
            </div>
        </div>
    </div>
    
</div>
